/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    }

.main-container {
    width: 100%;
    max-width: 1440px;
    padding:50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.h4 {
    font-size: 19px;

}

.section-title {
    margin: 0;
    font-size: 22px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}



/******  nav hearder ***********/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* Fond du header */
    margin-bottom: 20px;
    margin-top: 30px;

}

/*****Style des liens dans la navigation*****/


.nav-link:hover {
    color: var(--main-color);
}

.nav-link {
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
    padding-bottom: 6px;
    /* Ajout d'un espace pour la barre */
}

.nav-link::before {
    content: "";
    position: absolute;
    top: -20px;
    /* Placer la barre un peu plus haute */
    left: 0;
    width: 100%;
    height: 2px;
    /* Rendre la barre plus fine */
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.nav-link:hover::before {
    background-color: var(--main-color);
    /* Couleur de la barre au survol */
}

/* logo */
.logo {
    max-width: 50px;
    /* Largeur maximale */
    height: auto;
    margin-right: auto;
    /* Place le logo à droite en utilisant la marge automatique */
    overflow: hidden;
    /* Cache le dépassement */
}


/****** Styles pour la barre de recherche *****/

.search-wrapper {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.search-bar {
    margin-top: 15px;
    display: flex;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}

.location-icon {
    padding: 10px;
    background-color: var(--main-bg-color);
    align-items: center;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid var(--main-bg-color);

}

.search-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    margin-bottom: 0;
}


/***** Styles pour les boutons ******/

.filter-title {
    margin-right: 20px
}

.filter-section {
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    /* Permettre le retour à la ligne */
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 10px;
    /* Ajuster l'espacement entre la barre de recherche et les boutons */
}

.filter-btn {
    padding: 10px 20px;
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    background-color: transparent;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    /* Ajuster l'espacement horizontal entre les boutons */
    margin-bottom: 10px;
    /* Espacement entre les lignes */
}

.filter-btn:hover {
    background-color: var(--filter-bg-color);
    color: rgb(0, 0, 0);
}

/* Icons */

.fas.fa-money-bill-wave,
.fas.fa-users,
.fas.fa-heart,
.fas.fa-fire {
    color: var(--main-color);
    margin-right: 5px;

}

.fas.fa-info {
    color: var(--main-color);
    /* Couleur blanche pour le i */
    font-size: 16px;
    /* Taille du i */

}

.contener label {
    height: 25px;
    width: 25px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contener {
    display: flex;
    align-items: center;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* Réduire l'espace en haut */
    margin-bottom: 30px;
    /* Réduire l'espace en bas */
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding-top: 25px;
    /* Réduire l'espace intérieur en haut */
    padding-bottom: 25px;
    /* Réduire l'espace intérieur en bas */
    padding-left: 30px;
    /* Garder la même valeur */
    padding-right: 30px;
    /* Garder la même valeur */
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}


.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.hebergements-cards a {
    width: calc(33% - 20px);
}

.hebergements-cards .card {
    padding-bottom: 10px;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activites ***********/

.activites {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    margin: 0 auto; /* Marge automatique à gauche et à droite pour centrer horizontalement */
    max-width: 1340px; /* Largeur maximale de la section */
    /* Centrer verticalement */
    padding-left: 10px;
    
}
 

.activites-cards a {
    width: calc(25% - 20px);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

}

.activites-cards {
    display: flex;
    justify-content: space-between;
    
}

.activites .card {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
}

.activites .card img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    /* Appliquer uniquement le border-radius aux coins supérieurs */
    object-fit: cover;
    height: 400px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);

}

.activites-cards .card-content {
    border-radius: 0px 0px 20px 20px;
    padding: 12px 15px;
    /* Ajuster le padding verticalement */
    height: 25px;
    /* Augmenter légèrement la hauteur */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.activites-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

/***** Ajout de styles pour les différentes sections du footer *****/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 10px; /* Ajout de 5px de padding à gauche et à droite */
    margin-right:-15px;
    margin-left: -15px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    
}


.footer-section {
    width: 100%;
    justify-content: left;
    padding-left: 2%;
    /* Ajustez la largeur des sections selon vos besoins */
}

.footer-title {
    margin-top: 30px;
    display: flex;
    justify-content: left;

}

.footer-title .h4 {
    margin-top: 50px;

}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Pour les écrans de largeur maximale de 1440px */
@media screen and (max-width: 1440px) {
    body {
      max-width: 1440px;
      padding: 0 20px; /* marge blanche sur les côtés */
     
    }
  }
  
 
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites {
        flex-direction: column;
        width: Fill (210.33px);;
        height: (270px);
        border-radius: 20px;
    }
   

    .activites-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .activites-cards a {
        width: 30%;
    }

    .activites-cards .card-title {
        font-size: 14px;
    }

    .activites-cards .card-subtitle {
        font-size: 13px;
    }
}
